
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://wallpapersmug.com/download/1920x1080/cb6551/shop-spirite-art.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    margin-left: 20px;
    padding-left: 20px;
}

form {
    width: 500px;
    height: 50px;
    max-width: fit-content;
    color: white;
    padding: 20px;
    margin: 50px auto;
    background-color: black;
    font-size: 16pt;
    box-shadow: 10px 5px 10px black;
   
  
}

.formularios {
   
}

h2 {

    text-align: center;
    font-size: 50px;
     font-family: 'Quicksand', sans-serif;
    font-weight: 800;
}

p {

    font-size: large;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    border-radius: 20%;
    font-size: 12px;


}

.anime-card {
    width: 180px;
    height: 380px;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    /* border-radius: 10%; */
    /* float: left; */
    /* text-align: center; */
   
    box-shadow: 10px 5px 10px black;
    /* animation: card 2s normal forwards; */

}
/* .anime-card:hover {
    animation-name: pop;
    animation-duration:0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;


} */

@keyframes pop {
	0% {
        transform: scale(1.2);
    }
    
	100% {
        transform: scale(1);
	}

    
}






@keyframes card {


    0% {
        opacity: 0%;
        transform: translate(-400px);
        
    }



    100% {
        opacity: 100%;
        transform: translate();
    }

}
#animes{
    width: 100%;
    flex-wrap: wrap;
    display: flex;

}
.anime-img {
    width: 100%;
    height: 100%;
    /* border-radius: 10% 10% 0% 0%; */

}

.anime-card2 {
    width: 100%;
    height: 100px;
    background-color: rgb(126, 126, 126);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    text-align: center;
}

a{
    text-decoration: none;
}

.score{
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
}

.btFav {
    width: 50%;
    height: 30px;
    margin-top: 10px;
    border-radius: 30px;
    background-color: rgb(238, 238, 129);
}
.btRemove {
    width: 50%;
    height: 30px;
    margin-top: 10px;
    border-radius: 30px;
    background-color: rgb(245, 128, 128);
}